<tr class="bg-white sm:hover:bg-green-50 flex sm:table-row flex-row sm:flex-row flex-wrap sm:flex-no-wrap mb-10 sm:mb-0">
      <td class="w-full sm:w-auto p-3 text-green-800 text-center border border-b block sm:table-cell relative sm:static underline">
        <span class="sm:hidden absolute top-0 left-0 bg-green-200 px-2 py-1 text-xs font-bold uppercase">Menu Id</span>
        <a href=<%= menu_path(menu.id) %>> # <%= menu.id %> </a>
      </td>
      <td class="w-full sm:w-auto p-3 text-green-800 text-center border border-b block sm:table-cell relative sm:static">
        <span class="sm:hidden absolute top-0 left-0 bg-green-200 px-2 py-1 text-xs font-bold uppercase">Name</span>
        <%= menu.name %>
      </td>
      <td class="w-full sm:w-auto p-3 text-center border border-b block sm:table-cell relative sm:static text-<%= menu.is_active ? "green" : "yellow" %>-900 bg-<%= menu.is_active ? "green" : "yellow" %>-100">
        <span class="sm:hidden absolute top-0 left-0 bg-green-200 px-2 py-1 text-xs font-bold uppercase">Status</span>
        <%= menu.is_active ? "Active" : "Inactive" %>
      </td>
      <td class="w-full sm:w-auto p-3 text-green-900 text-center border border-b block sm:table-cell relative sm:static">
        <span class="sm:hidden absolute top-0 left-0 bg-green-200 px-2 py-1 text-xs font-bold uppercase">Actions</span>
        <a href=<%= edit_menu_path(menu.id) %> class="px-3 py-1 rounded text-blue-900 bg-blue-200">Edit</a>
        <%= link_to "Delete", menu_path(menu.id), method: "delete", class: "px-3 py-1 rounded text-red-900 bg-red-200" %>

      </td>
</tr>