<!DOCTYPE html>
<html>
  <head>
    <title>CafeteriaManagement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= stylesheet_pack_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body>
  <%= render partial: "layouts/header" %>

    <% if flash[:success] %>
      <ul class="flash fixed top-10 left-1/2 transform-gpu -translate-x-1/2 w-full px-4" style="z-index:100">
      <% flash[:success].each do |success| %>
        <li class="max-w-screen-md mx-auto px-6 py-3 m-4 bg-green-100 text-green-900 font-semibold border-l-4 border-green-400">●  <%= success %> </li>
      <% end %>
      </ul>
     
    <% end %>
    <% if flash[:error] %>
      <ul class="flash fixed top-10 left-1/2 transform-gpu -translate-x-1/2 w-full px-4" style="z-index:100">
      <% flash[:error].each do |err| %>
        <li class="max-w-screen-md mx-auto px-6 py-3 m-4 bg-red-100 text-red-900 font-semibold border-l-4 border-red-400">●  <%= err %> </li>
    <% end %>
      </ul>
    <% end %>
   <div class="min-h-screen flex items-center justify-center px-5 py-5">
    <div class="bg-green-50 text-green-800 rounded-3xl shadow overflow-hidden" style="max-width:1000px">
      <div class="md:flex">
        <div class="py-10 px-5 md:px-10">
            <%= yield :form_layout %>
          </div>
        </div>
      </div>
    </div>
    </div>
    <%= render partial: "layouts/footer" %>
    <script>
    (function init() {
      const flash = document.querySelectorAll(".flash");

        flash.forEach((el) => {
          setTimeout(() => {
            el.classList.add("opacity-0");
          }, 3000);
        });
      })();
    </script>
  </body>
</html>


